.home-container {
    grid-row: 2 / 3;
    color: white;
    max-width: 1060px;
    width: 100%;
    height: 100%;
    display: grid;
    justify-self: center;
    align-items: center;
    justify-items: center;
    position: relative;
}

.pinwheel-box {
    width: 70%;
    height: 70%;
    z-index: 10;
    position: absolute;
    margin-bottom: 80px;
}

.centered {
    display: grid;
    align-items: center;
    justify-items: center;
}


.anim-box1 {
    height: 5%;
    width: 5%;
    background: dodgerblue;
    border-radius: 12px;
    box-shadow: 0 0 5px 10px black;
}

.anim-box2 {
    height: 90%;
    width: 90%;
    background: crimson;
    border-radius: 12px;    
    box-shadow: 0 0 5px 10px black;
}

.anim-box3 {
    height: 90%;
    width: 90%;
    background: goldenrod;
    border-radius: 12px;
    box-shadow: 0 0 5px 10px black;
}

.anim-box4 {
    height: 90%;
    width: 90%;
    background: chartreuse;
    border-radius: 12px;
    box-shadow: 0 0 5px 10px black;
}

.marquee {
    margin-left: 350px;
}

.marquee > h1 {
    font-size: 80px;
    opacity: 0;
}

.marquee > h3 {
    font-size: 50px;
    opacity: 0;
}