.footer-container {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.footer-btn{
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
    background: rebeccapurple;
    color: ghostwhite;
}